/*     <b:template-skin>
      <![CDATA[ and ]]>
      </b:template-skin>------------- */

/* Layout
----------------------------------------------- */
body#layout ul li {list-style: none;}
body#layout div.section {padding: 7px 7px 15px; position: relative; margin: 0 0 10px;}
body#layout .section h4 {font-size: 11px;font-weight: 400;font-family: Roboto; text-transform: uppercase; margin:0 0 0 5px;padding:0;text-align:center;}
body#layout .widget-content {padding: 0 5px;box-shadow: none!important;}
body#layout div.layout-widget-description {font-size: 12px!important; color: #333;}
body#layout .tab-pane div.layout-widget-description {font-size: 11px!important;}
body#layout div.layout-title {font-size: 11px; text-transform: uppercase; text-shadow: none;}
body#layout .tab-pane div.layout-title {font-size: 9px;}
body#layout .container {width: 940px; padding: 5px 10px 0; margin: 0 auto;}
#layout #header-wrapper:before {content:'Header Wrapper'; text-transform:uppercase; font-size:20px; color: rgba(0,0,0,0.25); margin-bottom:20px; padding-bottom:5px; display:inline-block; font-family: Arial, sans-serif; font-weight:700;}
#layout .header-wrapper {background: #EAF876; padding: 30px 0 20px; margin-bottom: 30px;}
#layout #header {display: inline-block; float: left; width: 25%; clear: both;}
#layout #headerright-728 {display: inline-block; width: 40%; float: left; height: auto; margin-left: 1%;}
#layout #headerright-468 {display: inline-block; width: 28%; float: right; height: auto;}
#layout .outer-wrapper.fbt-m {background: #ff7777; padding: 15px 0; margin-bottom: 30px;}
#layout .post-wrapper {display: inline-block; width: 67%; float: left;}
#layout .post-sidebar {display: inline-block; width: 32%; float: right;}
#layout .post-left-sidebar {display: inline-block; width: 29%; float: left;}
#layout .post-container {display: inline-block; width: 69.6%; float: right;}
#layout #fbt-left-side-2:before {content:'Left Sidebar'; text-transform:uppercase; font-size:14px; color: rgba(0,0,0,0.25); margin-bottom:10px; padding-bottom:5px; display:inline-block; font-family: Arial, sans-serif; font-weight:700;}
#layout #post-container:before {content:'Post Layout'; text-transform:uppercase; font-size:14px; color: rgba(0,0,0,0.25); margin-bottom:10px; padding-bottom:5px; display:inline-block; font-family: Arial, sans-serif; font-weight:700;}
#layout #fbt-post-sidebar:before {content:'Post Sidebar'; text-transform:uppercase; font-size:14px; color: rgba(0,0,0,0.25); margin-bottom:10px; padding-bottom:5px; display:inline-block; font-family: Arial, sans-serif; font-weight:700;}
#layout #newsticker:before {content:'Headline'; text-transform:uppercase; font-size:20px; color: rgba(0,0,0,0.15); margin-bottom:8px; padding-bottom:5px; display:inline-block; font-family: Arial, sans-serif; font-weight:700;}
#layout #newsticker {background: #33F9FF; padding: 20px 0 20px; margin-bottom: 30px;}
#layout .newsticker {width: 65%; float: left;}
#layout .fa-icon-wrap {width: 30%; float: right;}
#layout .navbar-default {margin-bottom: 30px; background: #F8A976; padding: 25px 0 20px;}
#layout #menu-wrapper:before {content:'Main Menu'; text-transform:uppercase; font-size:20px; color: rgba(0,0,0,0.15); margin-bottom:20px; padding-bottom:5px; display:inline-block; font-family: Arial, sans-serif; font-weight: 700;}
#layout #fp-container {background: #83aeeb; padding: 25px 0 20px; margin-bottom: 30px;}
#layout #fp-container:before {content:'Featured Slider'; text-transform:uppercase; font-size:20px; color: rgba(0,0,0,0.2); margin-bottom:20px; padding-bottom:5px; display:inline-block; font-family: Arial, sans-serif; font-weight: 700;}
#layout #ad-below-navbar {margin-bottom: 30px; background: #75e095; padding: 25px 0 20px;}
#layout #mainslider {width: 48%; float: left; padding-bottom: 15px;}
#layout #random-slider {width: 47%; float: right; padding-bottom: 15px;}
#layout #mag-content {background: #9ADCA1; padding: 35px 0 30px; margin-bottom: 30px;}
#layout #mag-content:before {content:'Magazine Builder'; text-transform:uppercase; font-size:30px; color: rgba(0,0,0,0.15); margin-bottom:20px; padding-bottom:5px; display:inline-block; font-family: Arial, sans-serif; font-weight: 700;}
#layout .main-wrapper {display: inline-block; width: 65%; float: left;}
#layout .sidebar {display: inline-block; width: 34%; float: right;}
#layout .left-sidebar {display: inline-block; width: 28%; float: right;}
#layout #homepage-content {display: inline-block; width: 68%; float: left; padding-bottom: 12px;}
#layout .tab-pane {width: 27.3%; float: left; margin-right: 1%!important;}
#layout #tab-3 {margin-right: 0!important;}
#layout #tab-content {background: #2ADCA1; padding: 25px 10px 15px; margin-bottom: 15px;}
#layout #tab-content:before {content:'Tab Content'; text-transform:uppercase; font-size: 20px; color: rgba(0,0,0,0.15); margin-bottom:20px; padding-bottom:2px; display:inline-block; font-family: Arial, sans-serif; font-weight: 700; width: 100%;}
#layout #big-gallery-container {background: #E89F5C; padding: 23px 10px 20px; margin-bottom: 30px;}
#layout #big-gallery-container:before {content:'Big Gallery'; text-transform:uppercase; font-size: 20px; color: rgba(0,0,0,0.15); margin-bottom:12px; padding-bottom:5px; display:inline-block; font-family: Arial, sans-serif; font-weight: 700; width: 100%;}
#layout #ad-above-footer {background: #75e095; padding: 25px 0; margin-bottom: 30px;}
#layout #footer-sidebar {background: #A09ADC; padding: 25px 0; margin-bottom: 30px;}
#layout #footer-sidebar:before {content:'Footer Sidebar'; text-transform:uppercase; font-size:20px; color: rgba(0,0,0,0.2); margin-bottom:20px; padding-bottom:5px; display:inline-block; font-family: Arial, sans-serif; font-weight: 700;}
#layout #footer-sidebar .column {width: 22.5%; float: left; margin-right: 1%;}
#layout #footer-sidebar #column-4 {margin-right: 0;}
#layout #footer-additives .widget.PageList {width: 49%; float: right;}
#layout #footer-additives #HTML151 {width: 49%; float: left;}